* {
	box-sizing: border-box;
}

#centralise {
	grid-column: 5/13;
	letter-spacing: 2px;
	font-weight: 400;
}

.second {
	font-size: 18px;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	width: 100%;
}

#container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, minmax(0, auto));
	background-color: black;
	color: white;
}

nav {
	grid-row: 1/2;
	grid-column: 1/13;
	padding: 10px;
	margin: 5px;
}

nav ul {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, minmax(0, auto));
}

nav li {
	list-style-type: none;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav li.first {
	grid-column: 3/5;
}

nav li.second {
	grid-column: 6/8;
}

nav li.third {
	grid-column: 9/11;
}

header {
	grid-row: 2/3;
	height: 300px;
	grid-column: 1/13;
	justify-content: center;
	align-content: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header h1 {
	grid-column: 6/13;
	letter-spacing: 5px;
	font-weight: 500;
}

main {
	grid-row: 3/4;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: #fff;
	color: black;
	padding: 50px;
}

main #left {
	grid-row: 1/2;
	grid-column: 2/7;
	margin-top: 70px;
}

main #left h3 {
	font-weight: 500;
}

main #left ul {
	padding: 0;
	margin: 0;
}

main #left li {
	list-style-type: none;
	margin-top: 15px;
}

main #right {
	grid-row: 1/2;
	grid-column: 8/11;
	box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.644);
	padding: 30px;
	border-radius: 3px;
}

main #right input#Fname {
	width: 46%;
	padding: 10px;
}

main #right input#Lname {
	width: 50%;
	margin-left: 2%;
	padding: 10px;
}

main #right input#mail {
	width: 100%;
	padding: 10px;
	margin: 15px auto;
}

#message {
	width: 90%;
}

main #right button {
	width: 100%;
	border: none;
	padding: 10px 35px;
	color: #fff;
	background-color: #000;
	border-radius: 3px;
	margin: 15px auto;
	font-weight: 500;
	font-weight: bold;
}

footer {
	grid-row: 4/5;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	padding: 40px;
	grid-gap: 10px;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	list-style-type: none;
	margin-top: 15px;
}

footer #footFirst {
	grid-column: 2/4;
}

footer #footFirst h3 {
	font-weight: 500;
}

footer #footFirst ul {
	display: flex;
}

footer #footFirst li {
	margin-left: 10px;
}

footer #footSecond {
	grid-column: 7/8;
}

footer #footThird {
	grid-column: 8/9;
}

footer #footFourth {
	grid-column: 9/10;
}

footer #footFifth {
	grid-column: 10/11;
}

footer #footSixth {
	grid-column: 11/12;
}

#Lname {
	margin-top: 10px;
}

#Lname,
#Fname,
#mail,
#text {
	width: 80%;
}

/* Media Queries */

@media all and (max-width: 1000px) {
	nav li.first {
		grid-column: 2/5;
	}

	nav li.second {
		margin-left: 10px;
	}

	nav li.third {
		grid-column: 10/12;
	}

	header h1 {
		grid-column: 5/13;

	}

	#centralise {
		grid-column: 4/10;
		text-align: center;
	}

	main {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	main #left {
		grid-column: 1/6;
		margin-top: 0;
		margin-left: 0%;
	}

	main #left h3 {
		font-weight: 500;
	}

	main #left ul {
		padding: 0;
		margin: 0;
	}

	main #left li {
		list-style-type: none;
		margin-top: 15px;
	}

	main #right {
		grid-column: 7/13;
		box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.644);
		padding: 15px;
		border-radius: 3px;
	}

	main #right #message {
		width: 100%;
	}

	footer {
		padding: 5px;
		grid-gap: 20px;
	}
}

@media all and (max-width: 700px) {


	nav {
		grid-row: 1/2;
		grid-column: 1/13;
		padding: 10px;
		margin: 5px;
	}

	nav ul {
		margin: 0;
		padding: 0;
		/* display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, minmax(0, auto)); */
		display: block;
		text-align: center;
	}

	nav li {
		list-style-type: none;
		margin-top: 20px;
		opacity: 0.7;
	}

	nav li a {
		color: white;
		text-decoration: none;
	}

	nav li.third {
		font-weight: bold;
		opacity: 1;
		grid-column: 9/11;
	}

	header {
		grid-row: 2/3;
		height: 150px;
		grid-column: 1/13;
		justify-content: center;
		align-content: center;
		display: block;
	}

	header h1 {
		display: none;

	}

	header #centralise {
		margin-top: 30px;
		text-align: center;
		padding: 10px;
	}

	main {
		padding: 25px;
		margin-top: 15px;
	}

	main #right {
		grid-row: 1/2;
		grid-column: 1/13;
		box-shadow: 3px 3px 3px rgba(12, 12, 12, 0.644);
		padding: 10px;
		border-radius: 3px;
	}

	main #right input#Fname {
		width: 100%;
		padding: 10px;
	}

	main #right input#Lname {
		width: 100%;
		margin-left: 0;
		padding: 10px;
	}

	main #right #message {
		width: 100%;
		height: 200px;
	}

	main #left {
		grid-row: 2/3;
		grid-column: 1/13;
		margin-top: 70px;
		margin-left: 0;
	}

	main #left li {
		list-style-type: none;
		margin-top: 25px;
	}

	footer {
		grid-row: 4/5;
		padding: 25px;
		grid-gap: 5px;
	}

	footer #footFirst ul {
		flex-direction: column-reverse;
		text-align: right;
		position: absolute;
		top: 10px;
		right: 0px;
	}

	footer #footFirst {
		grid-column: 1/13;
		grid-row: 1/2;
		margin-left: 5px;
		position: relative;
	}

	footer #footSecond {
		grid-column: 1/13;
		grid-row: 2/3;
		margin-left: 5px;
	}

	footer #footThird {
		grid-column: 1/13;
		grid-row: 3/4;
		margin-left: 5px;
	}

	footer #footFourth {
		grid-column: 1/13;
		grid-row: 4/5;
		margin-left: 5px;
	}

	footer #footFifth {
		grid-column: 1/13;
		grid-row: 5/6;
		margin-left: 5px;
	}

	footer #footSixth {
		grid-column: 1/13;
		grid-row: 6/7;
		margin-left: 5px;
	}

}


@media all and (max-width: 400px) {


	nav {
		grid-row: 1/2;
		grid-column: 1/13;
		padding: 10px;
		margin: 5px;
	}

	nav ul {
		margin: 0;
		padding: 0;
		/* display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, minmax(0, auto)); */
		display: block;
		text-align: center;
	}

	nav li {
		list-style-type: none;
		margin-top: 20px;
		opacity: 0.7;
	}

	nav li a {
		color: white;
		text-decoration: none;
	}

	nav li.third {
		font-weight: bold;
		opacity: 1;
		grid-column: 9/11;
	}

	header {
		grid-row: 2/3;
		height: 150px;
		grid-column: 1/13;
		justify-content: center;
		align-content: center;
		display: block;
	}

	header h1 {
		display: none;

	}

	header #centralise {
		margin-top: 30px;
		text-align: center;
		padding: 10px;
	}

	main {
		padding: 25px;
	}

	main #right {
		grid-row: 1/2;
		grid-column: 1/13;
		box-shadow: 3px 3px 3px rgba(12, 12, 12, 0.644);
		padding: 10px;
		border-radius: 3px;
	}

	main #left {
		grid-row: 2/3;
		grid-column: 1/13;
		margin-top: 70px;
		margin-left: auto;
	}

	main #left li {
		list-style-type: none;
		margin-top: 25px;
	}

	footer {
		grid-row: 4/5;
		padding: 25px;
		grid-gap: 5px;
	}

	footer #footFirst ul {
		flex-direction: column-reverse;
		text-align: right;
		position: absolute;
		top: 10px;
		right: 0px;
	}

	footer #footFirst {
		grid-column: 1/13;
		grid-row: 1/2;
		margin-left: 5px;
		position: relative;
	}

	footer #footSecond {
		grid-column: 1/13;
		grid-row: 2/3;
		margin-left: 5px;
	}

	footer #footThird {
		grid-column: 1/13;
		grid-row: 3/4;
		margin-left: 5px;
	}

	footer #footFourth {
		grid-column: 1/13;
		grid-row: 4/5;
		margin-left: 5px;
	}

	footer #footFifth {
		grid-column: 1/13;
		grid-row: 5/6;
		margin-left: 5px;
	}

	footer #footSixth {
		grid-column: 1/13;
		grid-row: 6/7;
		margin-left: 5px;
	}

}